/* Code for default view: animate the logo with key frames  */

#logo{
    width: 475px;
    animation: hw5_move 5s;
}


/* key frame width */

@keyframes hw5_move{
    from {width: 25px;}
    to {width:475px;}
}

body{
    font-family: "Poppins", sans-serif;
    background-image: url("../images/concrete_seamless.png");
    background-color: #f1f1f1;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style the links to have the same color after they have been visited */

a:visited {
    color: #00FF;
  
  }

/* Style header elements that are direct children of a card class */


.card > header{
    background: #288088;
    border: solid 2px #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;


}

.card{
    display: flex;
    border-radius: 50px 50px 0px 0px;
    flex-basis: 450px;
    flex-direction: column;
}

.pricing{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

/* Helps style images on the website */

.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.gallery img{
    border: solid 10px #50C7C7;
    margin: 10px;
    width: 300px;

}


/* Whenever prompoted to design for screen size, use media query */

@media screen and (min-width: 900px){

    /* Code used to showcase 1200px screenshot */

    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between ;
    }


    .nav_links{
    
        flex-direction: row;
    
    }


    .pricing{
        align-items: center;
       
    }


    .card{
        flex-basis: 275px;
    }

    /* Header is always visible at the top of the screen, even when scrolling down  */

    body > header{
        position: sticky;
        top:0px;

    }
}

@media all and (prefers-reduced-motion: reduce){

    /* Can reduce motion, and stop animation of logo  */

    #logo{
        width: 475px;
        animation: none;
    }
}

@media print {

    /* Changes the body font for the print view */

    body{
        font-family:Arial, Helvetica;
        background-image:none;

    }

   
    nav{
        width: 100%
    }

    .nav_links{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    /* elements align along the bottom for pricing class  */

    .pricing{
        align-items: flex-end;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .card{
        border: solid 2px #45ADDD;
        flex-basis: 325px;
    }


    /* Helps make gallery invisible */

    #gallery{
        display: none;
    }

    .gallery{
        display: none;
    }

    /* Last code, to showcase thumbs up emoji in the print view */

    .card li:nth-child(even)::after {

        content: '👍'; 
      }








}





